body {
	margin: 0;
	overflow: hidden;
}

.w-screen {
	width: 100%;
}
.h-screen {
	height: 100vh;
}
.w-full {
	width: 100%;
}
.h-full {
	height: 100%;
}
.object-cover {
	object-fit: cover;
}
.object-contain {
	object-fit: contain;
}
.touch-none {
	touch-action: none;
}
.select-none {
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}
.absolute {
	position: absolute;
}
.top-4 {
	top: 1rem;
}
.left-4 {
	left: 1rem;
}
.text-white {
	color: white;
}
.text-black {
	color: black;
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.relative {
	position: relative;
}
.z-10 {
	z-index: 10;
}
.pointer-events-none {
	pointer-events: none;
}
.drop-shadow {
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
