# prod
dist/
dist-server/
frontend/dist/
build/
out/

# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/
.wrangler
wrangler-state.toml

# env
.env
.env.*.local
.env.local
.env.production
.env.development
.env.test
.env.*.secret
.dev.vars

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store

# Vite cache
.vite/
.vite-deps/

# TypeScript
*.tsbuildinfo